<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.name | titleCase:student.gender }}</td>
    </tr>
  </tbody>
</table>
<br>

<h3>In-built Pipes</h3>

<h1>Uppercase pipe</h1>
<p>{{'welcome to our world' | uppercase}}</p>

<h1>Lowercase pipe</h1>
<p>{{'NECCESITY IS THE MOTHER OF INVENTION' | lowercase}}</p>

<h1>Decimal pipe</h1>
<p>{{22.437595| number:'3.2-3'}}</p>

<h1>Slice pipe</h1>
<p>{{'87654321'| slice:5}}</p>

<h1>Percent pipe</h1>
<p>{{0.95| percent:'2.1-2'}}</p>

<h1>Currency pipe</h1>
<p>{{5500.5| currency: 'USD': 'symbol': '5.2-3'}}</p>
<p>{{5500.5| currency: 'USD': 'code': '5.2-3'}}</p>
<p>{{5500.5| currency: 'INR': 'code': '5.2-3'}}</p>
<p>{{5500.5| currency: 'INR': 'symbol': '5.2-3'}}</p>
<h1>Json pipe</h1>
<p>{{students | json}}</p>

<h1>Date pipe</h1>
<p>{{date}}</p>
<p>{{date | date}}</p>
<p>{{date | date: 'short'}}</p>
<p>{{date | date: 'medium'}}</p>
<p>{{date | date: 'full'}}</p>
<p>{{date | date: 'longTime'}}</p>
<p>{{date | date: 'shortTime'}}</p>
<p>{{date | date: 'YYYY-MM-dd hh:mm:ss'}}</p>






<router-outlet></router-outlet>